body {
  margin: 0px;
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
}
.container_center {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}
.menu_list {
  margin: 0px;
  list-style: none;
  padding: 0px;
  padding-top: 65px;
  max-width:  234px;
  height: 680px;
  background: linear-gradient(180deg, #7558ff 0%, #6544e9 100%);
  border-radius: 0px 0px 16px 0px;
  a.active {
    color: black;
    width: 234px;
    height: 52px;

    /* F8F7FB */

    background: #f8f7fb;
  }
  > li a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding-left: 28px;
    img {
      margin-right: 12px;
    }
    display: flex;
    align-items: center;
  }
}
.text_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.menu_head {
  background: #6045e2;
  border-radius: 0px 16px 0px 0px;
  width: 234px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .elipse {
    background: #ffc22f;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    height: 48px;
    width: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
}
