body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif !important;
  font-style: normal;
  background: #f8f7fb !important;
}
.container_right {
  margin-top: 16px;
  margin-right: 28px;
}
.container_center {
  display: grid;
  grid-template-columns: minmax(100px, min-content) calc(100vw - 279px);
  grid-column-gap: 28px;
}
.ui.search > .results > div:nth-child(n + 5) {
  display: none;
}
.container_left {
  position: sticky;
  top: 0px;
}
.menu_list {
  position: relative;
  margin: 0px;
  list-style: none;
  padding: 0px;
  padding-top: 65px;
  max-width: 234px;
  height: calc(100vh - 80px);
  background: linear-gradient(180deg, #7558ff 0%, #6544e9 100%);
  border-radius: 0px 0px 16px 0px;
  a.active {
    .block_number {
      background: #6f51ff;
      color: white;
    }
    > svg {
      z-index: 1;
    }
    color: black;
    width: 234px;
    height: 54px;
    .img_list svg path {
      fill: rgb(111, 81, 255);
    }
    /* F8F7FB */

    background: #f8f7fb;
  }
  > li a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: white;
    height: 54px;
    font-size: 18px;
    line-height: 18px;
    padding-left: 28px;
    > svg {
      position: absolute;
      left: 0;
      z-index: -1;
      width: 235px;
    }
    > svg path {
      fill: #f8f7fb;
    }
    .text_list {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 1;
    }
    .img_list {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
    }
    .img_list svg {
      path {
        fill: white;
      }
      margin-right: 12px;
      fill: white;
    }
    display: flex;
    align-items: center;
  }
}
.text_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.menu_head {
  background: #6045e2;
  border-radius: 0px 16px 0px 0px;
  width: 234px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .elipse {
    background: #ffc22f;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    height: 48px;
    width: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
}
.ui.selection.dropdown {
  box-shadow: none !important;
}
.ui.dropdown .menu .selected.item {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
  background: #e5e7fa;
}
.ui.selection.active.dropdown .menu {
  top: 83%;
  border: none;
  border-color: none;
  width: 100%;
  background: #ffffff;
  /* 2 */

  box-shadow: 8px 16px 60px rgba(31, 34, 46, 0.2);
  border-radius: 8px;
}
.search_container_home,
.search_container {
  .ui.selection.active.dropdown:hover {
    border: none !important;
  }
  .ui.selection.dropdown {
    border: none;
    width: 132px;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      right: 0px;
      top: 50%;
      transform: translate(0px, -50%);
      background-image: url("/img/line.svg");
      background-repeat: no-repeat;
    }
  }

  .ui.search {
    width: 100%;
  }
  .ui.selection.dropdown {
    z-index: 1;
    border: none;
    background: transparent;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    align-items: center;
  }
  .ui.input > input {
    border: none !important;
  }
  .ui.input {
    width: 100%;
    border: none !important;
  }
  .ui.grid {
    margin: 0px;
  }
  .six {
    display: flex !important;
    align-items: center;
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    box-shadow: none;
    padding: 0px !important;
    max-width: 524px;
    border-radius: 500rem;
  }
}
.footer_menu {
  position: absolute;
  bottom: 28px;
  display: flex;
  background: transparent;
  color: white;
  padding-left: 28px;
  cursor: pointer;
  svg {
    position: relative !important;
    z-index: 0 !important;
    width: 16px !important;
    margin-right: 8px;
  }
  height: auto !important;
  margin-top: 117px;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.footer_menu_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.smartblock-custom-menu,
.smartblock-menu-top {
  display: flex;
}
.smartblock-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smartblock-container {
  border: 1px solid #b3b3be;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px !important;
}
.modal_open {
  height: 100vh;
  width: 100vw;
  top: 0px;
  z-index: 99;
  background-color: white;
  background-image: url("/img/BG.png");
  background-repeat: no-repeat;
  position: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms_element {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
  padding: 60px 80px;
  .head_form {
    margin-bottom: 40px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .field > label {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 14px !important;
    color: #1f222e !important;
  }
  .ui.button {
    margin: 0 auto;
    margin-top: 57px;
  }
}

.ui.button {
  background: linear-gradient(180deg, #7558ff 0%, #6544e9 100%);
  border-radius: 24px;
  padding: 16px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: uppercase;
  width: max-content;
  color: #ffffff;
}
.grid_forms {
  display: grid;
  grid-gap: 1em;
}
.personal_date {
  .ui.checkbox {
    margin-bottom: 0px;
  }
  .ui.checkbox.time_location {
    label {
      margin: 0px !important;
    }
  }
}
.notal_home {
  margin-top: 28px;
}
.text_edit_image {
  height: 100%;
  background: green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create_notal_card {
  .ui.checkbox.time_location {
    margin: auto 0px;
    label {
      margin: 0px !important;
    }
  }
  .ui.form .field > label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #1f222e;
  }

  .grid_column .ui.selection.dropdown {
    background: #f8f7fb;
    /* B3B3BE */

    border: 1px solid #b3b3be !important;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .ui.form input:not([type]),
  .ui.form input[type="date"],
  .ui.form input[type="datetime-local"],
  .ui.form input[type="email"],
  .ui.form input[type="file"],
  .ui.form input[type="number"],
  .ui.form input[type="password"],
  .ui.form input[type="search"],
  .ui.form input[type="tel"],
  .ui.form input[type="text"],
  .ui.form input[type="time"],
  .ui.form input[type="url"] {
    background: #f8f7fb;
    width: 100%;
    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.ui.form input {
  &.active {
    border: 1px solid red !important;
  }
}
.ui.form.forms_element input {
  background: #f8f7fb;
  /* B3B3BE */

  border: 1px solid #b3b3be;
  box-sizing: border-box;
  border-radius: 4px;
  width: 272px;
}
.checkbox_element {
  color: #1f222e;
  display: flex;
  justify-content: space-between;
}
.send_password {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-decoration-line: underline;

  /* 6F51FF */

  color: #6f51ff;
}
.ui.checkbox input:checked ~ label:after {
  content: " ";
  background-image: url("/img/ok.svg");
  background-repeat: no-repeat;
}
.ui.checkbox input:checked ~ label:before,
.ui.checkbox input:checked:focus ~ label:before {
  background: #6f51ff;
  border-radius: 2px;
}
.ui.checkbox label:after {
  top: 2px;
  left: 2px;
}
i.icon.search:before {
  content: " ";
  background-image: url("/img/Search.svg") !important;
  background-repeat: no-repeat !important;
  width: 18px !important;
  height: 18px !important;
}
.ui.dropdown > .dropdown.icon:before {
  content: " ";
  background-image: url("/img/Arrow.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 10px !important;
  height: 7px !important;
  padding: 0px;
}
.ui.selection.dropdown {
  min-width: auto;
  width: max-content;
}
.ui.dropdown > .dropdown.icon {
  display: flex;
  transition: 0.2s all;
  top: 50% !important;
  transform: translate(0%, -50%);
  margin: 0px !important;
  padding: 0px !important;
  align-items: center;
  justify-content: center;
}
.ui.active.selection.dropdown .dropdown.icon {
  transform: translate(0%, -50%) rotate(-180deg);
}
.container_left_two {
  display: grid;
  grid-gap: 28px;
}
#__react-alert__{
  z-index: 99999999999!important;
  position: fixed;
}
.create_notal_card {
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
}
.container_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 28px;
}
.search_container_home,
.search_container {
  margin-bottom: 28px;
}
.create_notal_card {
  background: #ffffff;
  /* 1 */
  width: 340px;
  height: 523px;
  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
}
.create_notal_card_head {
  padding: 24px;
  border-bottom: 1px solid #f2f0f5;
}
.text_all {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.create_notal_card_container {
  padding: 24px;
}
.input_all {
  .ui.input {
    display: flex;
    flex-direction: column;
    input {
      background: #f8f7fb;
      width: 100%;
      /* B3B3BE */

      border: 1px solid #b3b3be;
      box-sizing: border-box;
      border-radius: 4px;
    }
    label {
      margin-bottom: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height, or 100% */

      /* 1F222E */

      color: #1f222e;
    }
  }
}
.date {
  width: 100%;
}
.icon_date {
  position: absolute;
  background-image: url("/img/Calendar.svg");
  background-repeat: no-repeat;
  top: 32px !important;
  right: 16px !important;
  width: 17px !important;
  height: 20px !important;
}
.grid_column.time_location {
  grid-template-columns: 68px 1fr;
}
.grid_column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.forms_create {
  display: grid;
  grid-gap: 24px;
  .ui.button {
    margin: 0 auto;
    margin-top: 16px;
  }
  .ant-checkbox-wrapper {
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
  }
}
.grid_column {
  .ui.checkbox {
    width: max-content;
    display: flex !important;
    align-items: center;
  }
  .ui.selection.dropdown {
    width: 100%;
    font-size: 16px;
  }
  .ui.selection.active.dropdown .menu {
    width: calc(100% + 2px);
  }
}
.planetary_position {
  max-width: 524px;
  padding: 24px;
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
}
.text_planetary {
  max-width: 417px;
}
.planetary_position .text_planetary {
  span {
    color: #6f51ff;
  }
}
.select_submit {
  button {
    border: 1px solid #f2f0f5;
    box-sizing: border-box;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50px;
    padding: 0px;
  }
  .ui.dropdown:not(.button) > .default.text {
    color: #1f222e;
  }
  .ui.selection.dropdown {
    padding-left: 10px;
    width: 112px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    /* 1F222E */

    color: #1f222e;
    /* 1F222E */

    color: #1f222e;
  }
  .ui.selection.active.dropdown .menu {
    width: calc(100% + 2px);
  }
  display: flex;
  align-items: center;
  .ui.input {
    input {
      height: 22px;
      margin-left: 12px;
      background: #f8f7fb;
      /* B3B3BE */
      padding: 0;
      text-align: center;
      border: 1px solid #b3b3be;
      box-sizing: border-box;
      border-radius: 4px;
      width: 32px;
      max-width: max-content;
    }
  }
}
.planeta_сheckbox {
  margin-top: 20px !important;
}
.numbers input {
  -moz-appearance: textfield !important;
}
.numbers input::-webkit-inner-spin-button {
  display: none !important;
}
.header_card {
  margin-bottom: 24px;
  display: flex;
  .ui.button {
    background: #b3b3be;
    border-radius: 20px;
  }
}
.select_submit {
  background: #ffffff;
  /* F2F0F5 */

  border: 1px solid #f2f0f5;
  box-sizing: border-box;
  /* 3 */

  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 18px;
  width: 200px;
}
.select_new {
  margin-left: 16px;
  .ui.selection.active.dropdown .menu {
    width: calc(100% + 2px);
  }
  .ui.selection.dropdown {
    background: #ffffff;
    /* F2F0F5 */
    width: 140px;

    border: 1px solid #f2f0f5;
    box-sizing: border-box;
    /* 3 */

    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 18px;
  }
}
.ui.selection.dropdown {
  padding: 11px 20px;
  display: flex;
  align-items: center;
}
.ui.selection.dropdown > .dropdown.icon {
  right: 6px;
}
.ui.dropdown:not(.button) > .default.text {
  color: black;
}
.ui.button.button_reset {
  padding: 11px 20px;
  color: #ffffff;
  border-radius: 20px;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  width: 100px;
  margin-left: 16px;
}
.prev_button {
  background-color: white;
  background-image: url("/img/Arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.next_button {
  background-color: white;
  background-image: url("/img/Arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-180deg);
}
.hide_table {
  display: flex;
  cursor: pointer;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* 1F222E */

  color: #1f222e;
  margin-top: 24px;
  margin-bottom: 24px;
}
.text_small {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.table_list {
  .text_small {
    margin-bottom: 16px;
  }
}
.table_row {
  display: flex;
  align-items: center;
  svg {
    margin-right: 8px;
  }
}
.table_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  /* B3B3BE */

  border: 1px solid #b3b3be;
  box-sizing: border-box;
  border-radius: 4px;
}
.table_head {
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.container_all {
  display: grid;
  grid-gap: 28px;
}
.table_grid > div > div:nth-child(1) {
  background: #fff !important;
  border-bottom: 1px solid #b3b3be;
}
.table_left {
  border-right: 1px solid #b3b3be;
}
.table_grid > div > div:nth-child(odd) {
  background: #f2f0f5;
}
.table_grid > div > div {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.histotry_container {
  padding: 24px;
  padding-bottom: 46px;
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
}

.history_list .item {
  display: flex !important;
  align-items: center;
  .icon_image {
    margin-right: 12px;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    justify-content: center;
  }

  padding: 0px !important;
}
.history_list {
  max-height: 364px;
  overflow-y: scroll;
  margin-top: 24px;
  .ui.list {
    display: grid !important;
    grid-gap: 24px;
  }
  .ui.divided.list > .item {
    border: none;
  }
  .description {
    margin-bottom: 8px;
  }
  .ui.list > .item a.header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    /* 1F222E */

    color: #1f222e !important;
    span {
      color: #6f51ff !important;
    }
  }
}
.location_input_top input {
  width: 100%;
  max-width: 100% !important;
}
.text_color {
  background: #ff6b8f;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
}
body ::-webkit-scrollbar-track,
body ::-webkit-scrollbar {
  background: #e5e7fa;
  border-radius: 4px;
}
body ::-webkit-scrollbar-thumb {
  color: #6f51ff;
  background: #6f51ff;
}
::selection {
  color: #000000;
  background: #6d6d6d42;
}
.ui.button:hover {
  color: white;
}
.ui.selection.active.dropdown:hover {
  border: 1px solid #f2f0f5;
}
.grid_column {
  .ui.active.selection.dropdown {
    border-radius: 0.28571429rem !important;
  }
}

.ui.active.selection.dropdown {
  border-bottom-left-radius: 18px !important;
  border-bottom-right-radius: 18px !important;
}
.ui.selection.active.dropdown,
.ui.selection.dropdown:focus {
  border-color: #f2f0f5 !important;
}
.container_list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  /* 1F222E */

  color: #1f222e;
  margin-bottom: 28px;
}
.container_persons_head_right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 540px;
}
.container_persons_head {
  .ui.dropdown .menu > div:last-child {
    color: black !important;
  }

  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.favorites {
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
  }
}
.text_head_persons.favorites {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
.filter_abc {
  display: flex;
}
.text_head_persons {
  &.abs_to_A_and_Y {
    margin-right: 16px;
  }
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* 73737A */

  color: #73737a;
  &.active {
    color: #1f222e;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      bottom: -8px;
      background: #6045e2;
      border-radius: 2px;
      width: 40px;
      height: 2px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}
.row_and_column {
  display: flex;
  align-items: center;
  > a:nth-child(1) {
    margin-right: 12px;
  }
}
.d_flex_center {
  display: flex;
  align-items: center;
}
.persons_text_left {
  font-style: normal;
  margin-right: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* 73737A */

  color: #73737a;
}
.persons_text_right {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* 3F3356 */

  color: #3f3356;
}
.notal_card_community,
.note_list,
.create_note {
  margin-bottom: 28px;
}
.container_persons {
  position: relative;
  min-height: 553px;
}
.ui.dimmer.invert_none {
  background-color: transparent !important;
}
.persons_list_grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
}
.text_persons {
  background: green;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden_all {
  overflow: hidden;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
  border-radius: 50px;
}
.container_info_persons {
  .icon_image {
    text-transform: uppercase;
    img {
      width: 100%;
      height: auto;
    }
    margin-right: 12px;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    text-align: center;

    /* FFFFFF */

    color: #ffffff;
    border-radius: 50px;
  }
  .container_info_persons_name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */

    /* 1F222E */

    color: #1f222e;
    max-width: 124px;
  }
}
.persons_items_head {
  width: 100%;
  justify-content: space-between;
  .persons_edit {
    position: relative;
    bottom: 10px;
    cursor: pointer;
  }
  margin-bottom: 24px;
}
.persons_items {
  padding: 24px;
  background: white;
  border-radius: 16px;
}

.date_persons {
  margin-bottom: 16px;
}
.text_link {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  /* 6F51FF */

  color: #6f51ff;
  svg {
    margin-left: 8px;
  }
}
.favorite_svg {
  display: none;
}
.icon_image {
  position: relative;
  &.active {
    .favorite_svg {
      position: absolute;
      display: block;
      right: 0px;
      bottom: 3px;
    }
  }
}
.edit_drop {
  display: none;
}
.ui.inline.dropdown.edit_drop .dropdown.icon,
.ui.inline.dropdown.edit_drop > .text {
  display: none !important;
}
.ui.inline.dropdown.edit_drop {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0px;
}
.persons_edit > span {
  position: absolute;
  height: 20px;
  width: 100%;
}
.ui.dropdown.edit_drop {
  svg {
    margin-right: 8px;
  }
  a {
    color: rgba(0, 0, 0, 0.87);
  }
}
.ui.dropdown.edit_drop .menu > .item > .image {
  width: 16px;
  height: 16px;
  border-radius: 0px !important;
}
.ui.dropdown.edit_drop .menu > .item {
  > div {
    display: flex;
    align-items: center;
  }
  display: flex;
  align-items: center;
}
.button_header .ui.button {
  background: linear-gradient(90deg, #b47bff 0%, #c88eff 100%) !important;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07) !important;
  border-radius: 18px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* FFFFFF */

  color: #ffffff;

  /* Inside Auto Layout */
}
.purple {
  background: linear-gradient(90deg, #b47bff 0%, #c88eff 100%);
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 18px;
  padding: 11px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  width: max-content;
  /* identical to box height, or 100% */
  cursor: pointer;
  /* FFFFFF */
  display: flex;
  align-items: center;

  color: #ffffff;
  svg {
    margin-right: 8px;
  }
}
.dropdownslider {
  a,
  div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;

    color: #3f3356;
  }
  top: 7px;
  display: grid;
  grid-gap: 16px;
  background: #ffffff;
  padding: 20px;

  /* 2 */

  box-shadow: 8px 16px 60px rgba(31, 34, 46, 0.2);
  border-radius: 8px;
}
.header_unite {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.text_all_image {
  width: 80px;
  height: 80px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse_profiler {
  img {
    width: 100%;
    height: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-right: 16px;
}
.text_big_all {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  /* 1F222E */

  color: #1f222e;
}
.unit_left {
  display: flex;
  align-items: center;
}
.unit_info_adress {
  padding: 24px;
  background: linear-gradient(90deg, #ff698f 0%, #ff8aaf 100%);
  box-shadow: 0px 7px 40px rgba(255, 105, 143, 0.4);
  border-radius: 16px;

  height: max-content;
}
.unit_info_company {
  padding: 24px;
  background: linear-gradient(90deg, #ffac1d 0%, #ffc900 100%);
  box-shadow: 0px 7px 40px rgba(255, 105, 143, 0.4);
  border-radius: 16px;

  height: max-content;
}
.unit_info_contact {
  padding: 24px;
  background: linear-gradient(90deg, #b47bff 0%, #c88eff 100%);
  box-shadow: 0px 7px 40px rgba(180, 123, 255, 0.4);
  border-radius: 16px;

  height: max-content;
}
.unit_info_left {
  height: max-content;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 8px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* FFFFFF */

  color: #ffffff;
}
.unit_grid > div > div {
  margin-bottom: 16px;
}
.unit_grid > div > div:last-child {
  margin-bottom: 0px;
}
.unit_info_right {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* FFFFFF */

  color: #ffffff;
}
.text_events {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  /* FFFFFF */

  color: #ffffff;
  margin-top: 12px;
}
.ant-picker-input input {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.unit_grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 28px;
  margin-top: 28px;
  margin-bottom: 60px;
}

.error_none {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
}
.communication_slider_contenter {
  height: 144px;
}

.communication {
  margin: 60px 0px;
  .text_big_all {
    margin-bottom: 28px;
  }
}
.communication_slider_contenter {
  width: 100%;
}
.slider_communication {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slider_communication h3 {
  color: black;
}
.ui.top.popup.popup_slider {
  &:before {
    display: none;
  }
  line-height: normal;
  top: 135px !important;
  left: 50px !important;
  padding: 0px;
  margin: 0px;
  border: none;
}
.items_slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .ui.popup {
    border: none;
  }

  .ui.button {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0px;
    left: 0;
  }
  .icon_elipse {
    img {
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
}
.communication_slider_contenter {
  position: relative;
  .slider_content {
    margin: 0 auto;
    margin-left: 44px;
    margin-right: 80px;
  }

  padding: 24px;
  box-shadow: 0px 7px 64px rgba(8, 11, 24, 0.07);
  border-radius: 16px;
  .communication_slider_add {
    background: #6f51ff;
    border-radius: 0px 16px 16px 0px;
    width: 42px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.slider_content {
  .slick-next {
    background-image: url("/img/Arrow_small.svg");
    background-repeat: no-repeat;
    content: " ";
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 12px;
    opacity: 1;
    padding: 12px;
    /* F2F0F5 */

    border: 1px solid #f2f0f5;
    box-sizing: border-box;
    transform: rotate(-180deg) translate(0%, 50%);

    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
  }
  .slick-prev {
    background-image: url("/img/Arrow_small.svg");
    background-repeat: no-repeat;
    content: " ";
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 12px;
    opacity: 1;
    padding: 12px;
    /* F2F0F5 */

    border: 1px solid #f2f0f5;
    box-sizing: border-box;
    /* 3 */

    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
}
.slider_center {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6f51ff !important;
  border-color: #6f51ff !important;
}
.personal_date {
  label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #1f222e;
  }
}
.location_input_top {
  .time_location {
    margin-bottom: 0px !important;
  }
}
.image_contaner_perons {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 256px;
}
.image_contaner_perons > img {
  max-width: 256px;
}
.ui.page.dimmer {
  .element_continer {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
}
.element_continer .notal_items {
  min-height: 500px;
}
.container_loading {
  position: relative;
}
.table_persons_overflow {
  position: relative;
}
.persons_items {
  position: relative;
  .ui.dropdown .menu > div:nth-last-child(2) {
    color: red;
  }
  .ui.dropdown .menu > div:last-child {
    display: none;
  }
  .ui.dropdown .menu {
    right: 0;
    left: auto;
  }
  .text {
    color: black;
  }
}
.edit_profile {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 73737A */

  color: #73737a;
  margin-left: 20px;
}
.image_container {
  position: relative;
  display: flex;
  align-items: center;
}
.aynamsha {
  > div {
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    position: absolute;
    border: 1px solid #e5e7fa;
    border-radius: 400px;
    > div {
      position: relative;
      top: -10px;
    }
  }
  .pl {
    width: 375px;
    height: 375px;
  }
  .ne {
    width: 345.16px;
    height: 345.16px;
  }
  .ur {
    width: 317.32px;
    height: 317.32px;
  }
  .sa {
    width: 288.48px;
    height: 288.48px;
  }
  .ju {
    width: 259.64px;
    height: 259.64px;
  }
  .ma {
    width: 230.8px;
    height: 230.8px;
  }
  .ve {
    width: 201.96px;
    height: 201.96px;
  }
  .me {
    width: 173.12px;
    height: 173.12px;
  }
  .su {
    width: 144.28px;
    height: 144.28px;
  }
  .ke {
    width: 115.44px;
    height: 115.44px;
  }
  .ra {
    width: 86.6px;
    height: 86.6px;
  }
  .mo {
    width: 57.76px;
    height: 57.76px;
  }
  .as {
    width: 27px;
    height: 27px;
  }
  > div > div {
    background: linear-gradient(180deg, #7558ff 0%, #6544e9 100%);
    width: 18.63px;
    height: 18.63px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    /* FFFFFF */

    color: #ffffff;
    text-transform: capitalize;
    border-radius: 30px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 9%;
}
.none_aynamsha {
  > div {
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    position: absolute;
    border: 1px solid #e5e7fa;
    border-radius: 400px;
    > div {
      position: relative;
      top: -10px;
    }
  }
  .pl {
    width: 375px;
    height: 375px;
  }
  .ne {
    width: 345.16px;
    height: 345.16px;
  }
  .ur {
    width: 317.32px;
    height: 317.32px;
  }
  .sa {
    width: 288.48px;
    height: 288.48px;
  }
  .ju {
    width: 259.64px;
    height: 259.64px;
  }
  .ma {
    width: 230.8px;
    height: 230.8px;
  }
  .ve {
    width: 201.96px;
    height: 201.96px;
  }
  .me {
    width: 173.12px;
    height: 173.12px;
  }
  .su {
    width: 144.28px;
    height: 144.28px;
  }
  .ke {
    width: 115.44px;
    height: 115.44px;
  }
  .ra {
    width: 86.6px;
    height: 86.6px;
  }
  .mo {
    width: 57.76px;
    height: 57.76px;
  }
  .as {
    width: 27px;
    height: 27px;
  }
  > div > div {
    background: linear-gradient(90deg, #ff698f 0%, #ff8aaf 100%);
    width: 18.63px;
    height: 18.63px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    /* FFFFFF */

    color: #ffffff;
    text-transform: capitalize;
    border-radius: 30px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 9%;
}
.notal_card_community {
  .text_big_all {
    margin-bottom: 28px;
  }
  .persons_edit {
    bottom: auto;
  }

  .container_info_persons_name {
    max-width: 100%;
    margin-right: 24px;
  }
}
.notal_card_community_container {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  padding-bottom: 20px;
}
.image_notal {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 24px;
  height: max-content;
  span {
    color: #6f51ff;
  }
  svg {
    width: 100%;
    height: auto;
  }
  .block_numbers {
    position: absolute;
    height: 100%;
    width: 100%;
    > div {
      position: absolute;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      /* or 100% */

      text-align: right;

      /* Text */

      color: #4b4b4d;
    }
    .one {
      left: 24.12%;
      top: 70.63%;
    }
    .two {
      left: 27.5%;
      top: 74.63%;
    }
    .three {
      left: 49.5%;
      top: 52.63%;
    }
    .four {
      right: 27.2%;
      top: 74.63%;
    }
    .five {
      right: 24.12%;
      top: 70.63%;
    }
    .six {
      right: 46.12%;
      top: 48.33%;
    }
    .seven {
      right: 24.12%;
      bottom: 70.93%;
    }
    .eight {
      right: 27.5%;
      bottom: 74.63%;
    }

    .nine {
      left: 49.5%;
      bottom: 52.63%;
    }
    .ten {
      left: 27.2%;
      bottom: 75.63%;
    }
    .eleven {
      left: 23.62%;
      bottom: 70.93%;
    }
    .Twelve {
      left: 45.12%;
      top: 48.43%;
    }
  }
  > .block_info {
    > div:nth-child(2) {
      position: relative;
      top: -2.9vh;
    }
    > div:nth-last-child(2) {
      position: relative;
      top: 2.7vh;
    }
    .grid_column_three {
      > div:nth-child(1) {
        margin-left: 5px;
      }
      > div:nth-last-child(1) {
        margin-right: 5px;
      }
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      justify-content: center;
      align-items: center;
      > div {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    }
    .grid_column_two {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      > div {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    }
    div {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 0.95vw;
      line-height: 19px;
      color: #1f222e;
      display: flex;
      width: max-content;
    }
  }
}
.loading_new {
  position: relative;
  min-height: 200px;
}
.result_notal_card {
  position: relative;
  min-height: 500px;
}
.element_continer {
  display: grid;
  grid-gap: 28px;

  .ui.selection.dropdown {
    width: 140px;
    background: #6f51ff;
    border-radius: 18px;
    margin-right: 16px;
  }
  .ui.dropdown > .text {
    color: white !important;
  }
  .ui.selection.dropdown > .dropdown.icon {
    right: 16px;
  }
  .ui.dropdown > .dropdown.icon:before {
    filter: invert(100%);
  }
  .image_notal {
    margin-top: 0px;
  }
  .notal_table_persons {
    .image_notal {
      svg {
        min-width: 610px;
      }
    }
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 24px;
    .notalPersons_bottom {
      grid-column: 1/3;
    }
  }
}
.time {
  width: inherit !important;
}
.notal_person .persons_items .ui.dropdown .menu > div:last-child {
  display: block;
}
.image_notal > .block_info > div {
  height: 20%;
}
.favorites {
  cursor: pointer;
}
.notalPersons_right {
  .container_info_persons_name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #1f222e;
    margin-bottom: 12px;
  }
  .table_persons {
    height: 482px;
    overflow-y: scroll;
  }
  .table_persons_left_text {
    white-space: nowrap;
  }
  .table_persons {
    margin-right: 12px;
    display: grid;
    grid-template-columns: auto auto;
    background: #ffffff;
    /* B3B3BE */

    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 4px;
    > div > div:nth-child(odd) {
      background: #f2f0f5;
    }
    > div > div {
      padding: 12px 0px;
      display: flex;
      justify-content: center;
    }
  }
}
.table_planets {
  display: grid;
  border: 1px solid #b3b3be;
  border-radius: 4px;
  > div {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    > div {
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > div:nth-child(odd) {
      background: #f2f0f5;
      align-items: center;
    }
  }
  .table_text_small {
    font-weight: normal !important;
  }
  .header_table {
    border-bottom: 1px solid #b3b3be;
  }
  .table_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    /* 1F222E */

    color: #1f222e;
  }
  .center_table {
    svg {
      width: 14px;
      height: auto;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
}
.create_note {
  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
  padding: 24px;
  background: white;
  .checkbox {
    margin-left: 12px;
    display: grid;
    grid-template-columns: 28px 28px 28px 28px;
    grid-gap: 8px;
    input {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e5e7fa;
      border-radius: 2px;
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
  }
  .textarea_note {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .button_footer {
    margin-top: 30px;
  }
  .text_all {
    margin-bottom: 24px;
  }
  .text_note input {
    max-width: 408px;
  }
  .ui.form .field > label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }
}
.ui.button.clear_buttton {
  border: 2px solid #b3b3be;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  margin-left: 16px;
  line-height: 16px;
  color: #b3b3be;
  background: transparent;
}
.note_list {
  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
  padding: 24px;
  background: white;
  .text_all {
    margin-bottom: 24px;
  }
}
.note_items {
  padding: 20px;
  background: #f2f0f5;
  border-radius: 8px;
  .container_info_persons_name {
    max-width: 100%;
  }
  .persons_edit {
    bottom: auto;
  }
  .ui.dropdown .menu {
    right: 0;
    left: inherit;
  }
  .persons_items_head {
    margin: 0px;
  }
  .note_list_comment {
    margin-top: 16px;
  }
  .note_list_date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    /* 73737A */

    color: #73737a;
  }
}
.container_list {
  padding-bottom: 28px;
}
.note_list_container_list {
  display: grid;
  grid-gap: 12px;
  margin-right: 16px;
}
.personal_date .text_all {
  margin-bottom: 24px;
}

.ui.form.create_persons .field:last-child {
  margin: 0 0 1em;
}
.ui.form.create_persons input[type="tel"]:focus,
.ui.form.create_persons input[type="tel"],
.ui.form.create_persons input[type="email"]:focus,
.ui.form.create_persons input[type="email"],
.ui.form.create_persons input[type="text"]:focus,
.ui.form.create_persons input[type="text"] {
  background: #f8f7fb;
  border: 1px solid #b3b3be;
}
.persons_items_head {
  .smartblock-edit-menu,
  .smartblock-menu {
    display: none;
  }
}
.note_list_container {
  .container_info_persons {
    width: 100%;
    > div {
      width: 100%;
    }
  }
  .smartblock-container {
    border: none;
  }
  .ProseMirror {
    background: transparent;
    p {
      padding: 5px 0px;
      margin-bottom: 5px;
    }
    padding: 5px 0px;
    > *:nth-last-child(1) > br {
      display: none;
    }
    margin-bottom: 5px;
  }
}
.note_list_container {
  max-height: 460px;
  overflow-y: scroll;
}
.container_create {
  .input_all {
    width: 100%;
    position: relative;
  }
  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  max-width: 896px;

  .ui.form .field .ui.input input,
  .ui.form .fields .field .ui.input input {
    background: #f8f7fb;
    border: 1px solid #b3b3be;
  }
  margin-top: 40px;
  h2 {
    margin-bottom: 40px;
  }
  .ui.form .field > label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    /* 1F222E */

    color: #1f222e;
  }
  .ui.button {
    margin-top: 30px;
  }
}
.center_none_grid {
  margin-top: 100px;
  grid-column: 2;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 18px;
  color: #1f222e;
}
.ui.selection.dropdown {
  min-height: 36px;
  max-height: 37.8px;
}
.ui.checkbox {
  margin-bottom: 1em;
}
label {
  margin-bottom: 8px !important;
}

.ui.form .fields.center_grid {
  margin: 0px;
  display: grid;
  grid-gap: 16px;
  margin-bottom: 1em;
  > .field {
    padding: 0px;
  }
}
.all_box {
  padding: 40px;
  background: white;
  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
}
.create_persons_left {
  display: grid;
  grid-gap: 28px;
}
.create_persons {
  display: grid;
  grid-template-columns: 1fr 248px;
  grid-gap: 28px;
}
.button_add {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 16px 16px;
  /* identical to box height, or 100% */

  text-align: center;

  /* 6F51FF */

  color: #6f51ff;
  padding: 20px 40px;
  svg {
    margin-right: 8px;
    background: white;
  }
}
.location_input {
  max-width: 128px;
}
.block_number {
  background: #ffffff;
  border-radius: 12px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 12px;
  /* identical to box height, or 86% */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* FFFFFF */

  color: #6f51ff;
  padding: 4px 8px;
}
.ProseMirror img {
  width: 200px;
}
figure img {
  width: 200px;
}
.block_image {
  background: #e5e7fa;
  border-radius: 16px;
  .image_contaner_perons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height, or 100% */

    text-align: center;

    /* FFFFFF */

    color: #ffffff;
  }
  position: relative;
  height: max-content;
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    opacity: 0;
    top: 0px;
  }
}
.persons_list_column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px;
  .persons_items_head {
    margin-bottom: 0px;
  }
  .persons_items {
    display: grid;
    grid-template-columns: 340px 138px 189px 1fr 1fr 1fr;
  }
}
.row_and_column {
  svg rect {
    fill: rgb(179, 179, 190) !important;
  }
  svg {
    &.active {
      rect {
        fill: #6045e2 !important;
      }
    }
  }
}
.persons_list_column {
  .persons_items > .d_flex_center {
    margin: 0px;
    svg {
      margin-right: 8px;
    }
  }
  .container_info_persons_name {
    max-width: max-content;
  }
  .text_link {
    margin-top: 16px;
  }
  .header_persons_list {
    display: grid;
    grid-template-columns: 282px 138px 189px;
    margin-left: 84px;
    > div {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height, or 100% */

      /* 73737A */

      color: #73737a;
    }
  }
  .delete_persons,
  .edit_persons,
  .favorite_persons {
    cursor: pointer;
  }
}
.button_select {
  background: none;
  border: none;
  cursor: pointer;
}
.row_and_column {
  svg:nth-child(1) {
    margin-right: 16px;
  }
  svg {
    cursor: pointer;
  }
}
.location_input_top {
  grid-template-columns: 1fr max-content;
  .field {
    margin: 0px !important;
  }
}
.location_input {
  .ui.selection.dropdown {
    width: 128px;
    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 4px;
    background: #f8f7fb;
  }
}
.notal_card_head {
  .text_big_all {
    margin-bottom: 0px;
  }
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select_currentry {
  display: flex;
  align-items: center;
  .ui.selection.dropdown {
    width: max-content;
    margin-right: 0px;
    margin-left: 16px;
    padding-right: 60px;
    background: #ffffff;
    /* 1 */

    box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
    border-radius: 20px;
  }
  .ui.dropdown > .text {
    color: black !important;
  }
  .ui.dropdown > .dropdown.icon:before {
    filter: invert(0) !important;
  }
  .ui.selection.dropdown > .dropdown.icon {
    right: 20px;
  }
}
.ui.selection.dropdown > .dropdown.icon {
  opacity: 1;
}
.table_persons_right > div {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.container_comprasion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  .notalPersons_right {
    margin-top: 16px;
    max-width: 300px;
  }
  .text_all {
    margin-bottom: 16px;
  }
  .table_planets {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 376px;

    .header_table {
      border-right: 1px solid #b3b3be;
      border-bottom: 0px;
    }
    > div {
      display: flex;
      flex-direction: column;
    }
    .table_text_small {
      background: none;
      font-weight: bold !important;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height, or 100% */

      /* 1F222E */

      color: #1f222e;
      border-bottom: 1px solid #b3b3be;
    }
  }
}
.icon_date {
  position: absolute;
  .ant-picker {
    z-index: 2;
    cursor: pointer;
    position: absolute !important;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    left: 0;
    opacity: 0;
  }
}
.select_submit .ui.selection.active.dropdown:hover {
  border: none;
}
.calendar_container {
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-top: 40px;
  grid-gap: 16px;
  background: #e5e7fa;
  border-radius: 16px;
  padding: 24px;
}
.calendar_container_left {
  border-radius: 16px;
  max-width: 340px;
  padding: 24px;
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
  border-radius: 16px;
}
.date_items {
  border-radius: 16px;
  padding: 24px;
  background: white;
  .data_items_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    text-align: center;

    /* 1F222E */

    color: #1f222e;
  }
}
.calendar_container_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.notal_card_community_container {
  .image_notal {
    > .block_info > div {
      font-size: 0.43vw;
      line-height: 4px;
    }
  }
  .block_numbers > div {
    font-size: 9px;
    line-height: 6px;
  }
}
.container_comprasion {
  .image_notal {
    > .block_info > div {
      font-size: 0.7vw;
      line-height: 4px;
    }
  }
}
.block_info {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3.7% 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.create_events {
  .create_persons_left {
    textarea {
      background: #f8f7fb;
      /* B3B3BE */

      border: 1px solid #b3b3be;
      box-sizing: border-box;
      border-radius: 4px;
    }
    input {
      max-width: 320px;
    }
  }
}
.container_favorites {
  .persons_list_column {
    .persons_items {
      display: grid;
      grid-template-columns: 340px 138px 189px 1fr 1fr;
    }
  }
  .ui.selection.dropdown {
    background: #ffffff;
    /* F2F0F5 */

    border: 1px solid #f2f0f5;
    box-sizing: border-box;
    /* 1 */

    box-shadow: 0px 7px 64px rgba(31, 34, 46, 0.07);
    border-radius: 18px;
  }
}

.modal_click {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  cursor: pointer;
}

.ui.modal.close_modal {
  width: 100%;
  max-width: 500px;
}

.ui.page.dimmer {
  .button_footer {
    display: flex;
  }
  .ui.modal {
    .block_info div {
      font-size: 0.8vw;
    }
  }

  .notal_table_persons {
    .image_notal {
      svg {
        min-width: 610px;
      }
    }
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 24px;
    .notalPersons_bottom {
      grid-column: 1/3;
    }
  }
}
.container_favorites {
  .persons_items .ui.dropdown .menu > div:nth-child(3),
  .favorite_persons,
  .persons_items .ui.dropdown .menu > div:nth-child(1) {
    display: none;
  }
  .ui.dropdown .menu > div:last-child {
    display: flex;
    color: red;
  }
}
.container_company {
  .container_info_persons_name {
    max-width: 184px;
  }
  .persons_list_column {
    .container_info_persons_name {
      max-width: 100%;
    }
  }
}
.edit_persons,
.delete_persons,
.favorite_persons {
  .persons_text_right {
    font-weight: normal;
  }
}
.delete_persons {
  .persons_text_right {
    color: red;
  }
}
.button_header {
  svg {
    max-height: 16px;
  }
}

.ui.page.dimmer .ui.modal.modal_slider {
  width: 500px;
}
.header_close_modal {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;

  /* 1F222E */

  color: #1f222e;
  margin-bottom: 40px;
}
.close_modal {
  padding: 60px;
  background: #ffffff;
  /* 2 */

  box-shadow: 8px 16px 60px rgba(31, 34, 46, 0.2);
  border-radius: 16px;
  .ui.button.reset {
    border: 2px solid #3f3356;
    color: #3f3356;
    background: transparent;
    /* 2 */
    margin-left: 16px;

    box-shadow: 8px 16px 60px rgba(31, 34, 46, 0.2);
    border-radius: 24px;
  }
}
.ui.form.modal_slider_form input[type="text"] {
  background: #f8f7fb;
  /* B3B3BE */

  border: 1px solid #b3b3be;
  box-sizing: border-box;
  border-radius: 4px;
}
.delete_comunity:hover {
  color: #1890ff;
}
.icon_elipse {
  width: 60px;
  height: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  overflow: hidden;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  text-transform: uppercase;
  /* identical to box height, or 100% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
}
.modal_slider_form {
  padding: 60px;
  .text_all {
    margin-bottom: 40px;
  }

  .search_container_home .six {
    background: #f8f7fb;
    /* B3B3BE */

    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
  }
  
  .search_container_home .ui.input > input {
    background: #f8f7fb;
  }
  .ui.search > .results {
    min-width: calc(100% + 2px);
    margin-top: 0.1px;
    width: 100%;
    background: #f8f7fb;
    /* B3B3BE */

    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
  }
  &.ui.form .field > label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    color: #282828;
  }
  &.ui.form .field .ui.input input,
  .ui.form .fields .field .ui.input input {
    background: #f8f7fb;
    /* B3B3BE */

    border: 1px solid #b3b3be;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .ui.button {
    margin-top: 30px;
  }
}
.close_popup {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
}
.search_container {
  .ui.selection.dropdown .menu > .item {
    pointer-events: none !important;
    color: gray;
    background: rgba(0, 0, 0, 0.23);
  }
  .ui.dropdown .menu .selected.item {
    color: #1f222e !important;
    background: #e5e7fa !important;
    pointer-events: all !important;
  }
}
.ui.modal.modal_big {
  width: auto !important;
}
.ui.modal i.close,
.close_modal i.close,
.modal_slider i.close {
  &::before {
    display: none;
  }
  top: 20px !important;
  right: 20px !important;
  background-image: url("/img/Cross 1.svg") !important;
  width: 12px !important;
  height: 12px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
}
.container_info_persons .ui.dropdown .menu > div:nth-last-child(2) {
  color: rgba(0, 0, 0, 0.87);
}
.grid_small {
  grid-template-columns: 138px 138px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}
.ui.search > .results .result .title,
.ui.search > .results .result a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* 1F222E */

  color: #1f222e;
}
.date_items {
  .ant-picker-calendar-header {
    display: none;
  }
  .ant-picker-calendar .ant-picker-panel {
    border: none;
  }

  .ant-picker-content th:nth-last-child(-n + 2) {
    color: red;
  }
  .ant-picker-content td:nth-last-child(-n + 2) {
    color: red;
  }
  .ant-picker-content > tbody > tr:nth-last-child(-n + 1) {
    td:nth-last-child(-n + 2) {
      color: rgba(0, 0, 0, 0) !important;
    }
  }
  .ant-picker-cell {
    color: rgba(0, 0, 0, 0);
  }

  .ant-picker-cell-in-view {
    color: rgba(0, 0, 0, 1) !important;
  }
}
.notal_card_community_container {
  .image_notal > .block_info div {
    font-size: 0.45vw;
    line-height: 8px;
  }
  .image_notal > .block_info .grid_column_three > div:nth-child(1) {
    margin-left: 0px;
  }
  .image_notal > .block_info > div:nth-child(2) {
    position: relative;
    top: -6px;
  }
  .image_notal > .block_info .grid_column_three > div:nth-last-child(1) {
    margin-right: 0px;
  }
  .image_notal > .block_info > div:nth-last-child(2) {
    position: relative;
    top: 5px;
  }
}
.table_text_time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui.page.dimmer {
  .notalPersons_right .table_persons {
    height: 343px;
    overflow-y: scroll;
  }
}
#__react-alert__ {
  > div > div > div {
    width: 100% !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
